$color-bg: #121212;
$color-card: #202020;
$color-border: #29292e;
$color-text: #e2e2e2;
$color-text-muted: #888888;
$color-primary: #3d54d6;
$color-primary-hover: #b0a4f8;
$color-success: #3dd68c;
$color-error: #d63d3d;
